<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Grab Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-info  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Update
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item nav-link" href="/update-url">Update Url</a>
                        <a class="dropdown-item nav-link" href="/update-time">Update Time</a>
                    </div>
                </div>
            </li>

        </ul>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Theme</label>
        </div>
    </div>
</nav>